# Ignore node_modules
node_modules/

# Build outputs
dist/
.next/
out/
build/

# Ignore logs
*.log
npm-debug.log*

# Ignore dotenv files
.env*
!.env.example

# Ignore local IDE files
.vscode/
.DS_Store

# Turborepo
.turbo/

# Runtime data
pids/
*.pid
*.seed

# IDE
.vscode/
.idea/
.DS_Store

# Certs
apps/api/certs/*

# Deploy Script
deploy-snakebytes.sh