# Ignore node_modules
node_modules/

# Ignore build outputs
dist/
.next/
out/

# Ignore logs
*.log

# Ignore dotenv files
.env*
!.env.example

# Ignore local IDE files
.vscode/
.DS_Store

# Turborepo
.turbo/